*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    /* display: flex; */
}

main{
   width: 100%;
   height: 100vh;background-color: blue; 
   display: flex;
   justify-content: center;
   align-items: center;    
}
section{
    width: 80%;
    height: 80vh;
    background-color: white;
   
}
nav{
    height: 10vh;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px ;
 
}
nav>p{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
article{
    height: 70vh;
    width: 100%;
    /* background-color: pink; */
    display: flex;
}
article>aside{
    height: 70vh;
    width: 33.33%;
    border: 2px solid;
    
}
#div1{
    height: 25vh;
    border: 2px solid;
    border-right: none;
    border-top: none;
    /* background:skyblue; */
}
#div2{
    height: 45vh;
    /* background: #d1a9a9; */
    display: flex;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    border: 2px solid;
    border-right: none;
    border-top: none;

}
button{
    margin-top: 30px;
}
h1{
    font-size: 30px;
    margin-top: 20px;
}
#p1{
    margin-top: 50px;
}
.aside2>div{
   
    height: 6.3vh;
    width: 100%;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background: #000;
    border-right: none;

}
.aside3>div{
    height: 23.33vh;
    border: 2px solid;
    /* display: flex;
    flex-direction: column; */
}
#div3{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: skyblue;
    border-left: none;

}
#div3>p{
    margin-top: 24px;
}
#div4{
    background-color: rgb(252, 188, 25);
    /* align-items: center; */
    display: flex;
    /* margin-left: 25px; */
    padding-left: 70px;
    border-left: none;

}
#div5{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    padding-top: 25px;
    border-left: none;
}